<div class="center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="center">
                    <strong class="card-title mb-0 text-sm-center">Profile Card</strong>
                </div>
            </div>
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png"
                        alt="Card image cap">
                    <div *ngIf="user" >
                        <h5 class="text-sm-center mt-2 mb-1">{{user.firstName}} {{user.lastName}}</h5>
                        <hr>
                        <div class="text-sm-center">
                            
                                {{user.email}}
                        <br>
                                {{user.phone}}
                            
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <div class="center">
                    <a routerLink="/profile/edit" routerLinkActive="active" class="btn btn-primary  btn-sm">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>