<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
            <div class="error"
              *ngIf="loginForm.get('email').errors && loginForm.get('email').errors.required && loginForm.get('email').touched">
              This field is required
            </div>
            <div class="error"
              *ngIf="loginForm.get('email').errors && !loginForm.get('email').errors.required&& loginForm.get('email').touched">
              Enter a Valid Email
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <div class="error"
              *ngIf="loginForm.get('password').errors && loginForm.get('password').errors.required && loginForm.get('password').touched">
              This field is required
            </div>
            <div class="error"
              *ngIf="loginForm.get('password').errors && !loginForm.get('password').errors.required && loginForm.get('password').touched">
              <div>Worng Password</div>

            </div>

          </div>


          <button type="submit" [disabled]="loginForm.invalid"
            class="btn btn-primary btn-flat m-b-30 m-t-30">login</button>

          <div class="login-link m-t-15 text-center">
            <p>Don't have account ? <a href="#"> Sign up</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>