<div class="content">
  <div class="card">
    <div class="card-header">
      <strong *ngIf="id ==0 ">Add New Menu</strong>
      <strong *ngIf="id !=0 ">Edit Menu</strong>
    </div>
    <form [formGroup]="addEditMenuForm" (ngSubmit)="onSubmit()">
      <div class="card-body card-block">
        <div class="form-group">
          <label for="" class=" form-control-label">Menu Name </label>
          <input type="text" formControlName="name" id="" name="name" value="{{menu.name}}" class="form-control">
          <span class="error"
            *ngIf="addEditMenuForm.get('name').errors && addEditMenuForm.get('name').errors.required && addEditMenuForm.get('name').touched">
            This field is required </span>
        </div>
      

        <div class="form-group">
          <label for="" class=" form-control-label">Menu Description </label>
          <input type="text" formControlName="description" id="" name="description" value="{{menu.description}}"
            class="form-control">
          <span class="error"
            *ngIf="addEditMenuForm.get('description').errors && addEditMenuForm.get('description').errors.required && addEditMenuForm.get('description').touched">
            This field is required </span>
        </div>

        <div class="form-group">
          <label for="" class=" form-control-label">Menu Price </label>
          <input type="text" formControlName="price" id="" name="price" value="{{menu.price}}"
            class="form-control">
          <span class="error"
            *ngIf="addEditMenuForm.get('price').errors && addEditMenuForm.get('price').errors.required && addEditMenuForm.get('price').touched">
            This field is required </span>
          <span class="error"
            *ngIf="addEditMenuForm.get('price').errors && !addEditMenuForm.get('price').errors.required && addEditMenuForm.get('price').touched">
            Must Be A Number </span>
        </div>

        <div class="form-group">
          <label for="" class=" form-control-label">Menu Image </label>
          <input type="file" (change)="onSelectedImage($event);" formControlName="image" id="" name="image" accept="image/png,image/jpg,image/jpeg"
            style="border: none!important" class="form-control">
        </div>
      </div>
      <div class="card-footer">
        <button *ngIf="id==0" type="submit" (click)="onSubmit() ;clicked=true"  [disabled]="addEditMenuForm.invalid || clicked" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Add 
        </button>
        <button *ngIf="id!=0" type="submit" (click)="onSubmit() ;clicked=true"  [disabled]="addEditMenuForm.invalid || clicked" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Edit 
          </button>
      </div>
    </form>
  </div>

</div>
<div *ngIf="clicked==true" id="spinner" >
</div>
