<div class="contain">
  <div class="Upper">

  </div>
  <div class="down">
    <div class="card">
      <div class="card-header">
        <strong class="card-title">Restaurant Rate List</strong>
      </div>
      <div class="card-body" style="text-align: start;">
        <div class="top-card">
          <a routerLink="/restaurantrate/add-edit/0" routerLinkActive="active" style="left: 0;" type="button" data-id=''
            class="btn mb-1 py-1 px-2 btn-success browse-button mr-1" aria-pressed="true">
            <span>Add New Restaurant Rate </span>
            <i style="padding-left: 5px;" class="fas fa-plus-circle"></i>
          </a>
          <input style="width: 350px; " class="form-control" (keyup)="onChange($event)" [(ngModel)]="searchText" id="search" name="search"
            type="text" placeholder="Restaurant name...">
        </div>

        <div *ngIf="deArray.length == 0">
          <hr>
          <strong class="card-title actions">There is no Restaurants Rates Currently</strong>
        </div>

        <div *ngIf="deArray.length != 0">
          <table class="table table-striped" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Rate</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of  deArray">
                <td><img src="{{item.image}}" style="width: 50px; height: 40px;" alt=""></td>
  
                <td>{{item.name}}</td>
                <td>
                  <div>
                    {{item.rate}}/5
                  </div>
                </td>
                <td> {{item.date  | date:'short'}}</td>
                <td>
                  <div class="actions">
                    <a class="btn mb-1 py-1 px-2 mr-2 btn-info browse-button mr-1" aria-pressed="true"
                      routerLink="/restaurantrate/add-edit/{{item.id}}" routerLinkActive="active">
                      <span>Edit</span>
                      <i style="padding-left: 5px;" class="fas fa-edit"></i>
                    </a>
  
                    <button type="button" (click)="saveIdToDelete(item.id)"
                      class="btn mb-1 py-1 px-2 btn-danger browse-button mr-1" aria-pressed="true" data-toggle="modal"
                      data-target="#confirmDelete">
                      <span>Delete</span>
                      <i style="padding-left: 5px;" class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
  
  
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>


</div>


<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete operation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteOne();" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
